
  <div class="row">
    <nav>
      <a class="nav-link" routerLink="/" routerLinkActive="active">Dashboard</a>
      <a class="nav-link" routerLink="/oligos/add" routerLinkActive="active">Add Oligo</a>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-9 col-lg-9 col-xl-9 no-scroll">
      <table class="table table-hover">
        <tr>
          <th>Gene</th>
          <th>Mol. Wt.</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let oligo of oligos" (mouseover)="updateSelectedOligo(oligo)">
          <td>{{oligo.gene}}</td>
          <td>{{oligo.molecular_weight}}</td>
          <td><button class="btn btn-primary btn-sm">Edit</button> </td>
          <td><button class="btn btn-danger btn-sm" (click)="deleteOligo(oligo); $event.stopPropagation()">Delete</button></td>
        </tr>
      </table>

    </div>
    <div class="hidden-xs col-md-3 col-lg-3 col-xl-3" *ngIf="selectedOligo">
      <div class="detail-box">
        <div class="property">gene</div>
        <div class="value">{{selectedOligo.gene}}</div>
        <div class="property">molecular weight</div>
        <div class="value">{{selectedOligo.molecular_weight}}</div>
        <div class="property">id</div>
        <div class="value">{{selectedOligo.pk}}</div>
        <div class="property">added by</div>
        <div class="value">{{selectedOligo.added_by}}</div>
      </div>
    </div>

  </div>

